<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create new User</title>
</head>
<body>
    <div align="center" style="background-color: antiquewhite; min-width: 1366px; min-height: 768px; align-content: center;
     position: relative; margin: 0 auto;">

        <br> <br>
        <form action="#" th:action="@{/auth/logout}"  method="post">
            <input class="close-btn" type="submit" value="Application Logout" style="background-color: lightgreen;
             width: 150px; height: 30px; border: solid 4px rgba(0, 0, 0, 0.23); cursor: pointer; border-radius: 10px">
        </form>

        <br><br>
        <h1>Create New User</h1>
        <br>
        <form action="#" th:action="@{/userservice/save}" th:object="${user}" method="post">
            <table border="1" cellpadding="12">
                <tr>
                    <td>FIRSTNAME:</td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                </tr>

                <tr>
                    <td>LASTNAME:</td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                </tr>

                <tr>
                    <td>EMAIL:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                </tr>

                <tr>
                    <td>BIRTHDAY:</td>
                    <td><input type="text" th:field="*{birthday}" /></td>
                </tr>

                <tr>
                    <td>ROLE:</td>
                    <td>
                        <select th:field="*{role}">
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
<!--                        <label><input type="radio" name = "role" th:field="*{role.USER}" />USER</label>-->
<!--                        <label><input type="radio" name = "role" th:field="*{role.ADMIN}" />ADMIN</label>-->
                    </td>
                </tr>

                <tr>
                    <br>
                    <td colspan="2"><button type="submit" class="save-btn" style="cursor: pointer; background-color: lightgreen; border-radius: 3px">Save</button></td>
                </tr>

            </table>
        </form>
        <br> <br>
        <form action="#" th:action="@{/userservice/}"  method="get" >
            <input class="cancel-btn" type="submit" value="Cancel" style="cursor: pointer; background-color: lightgreen; border-radius: 3px">
        </form>
    </div>
</body>
</html>