<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Manager</title>
</head>
<body>
<div align="center" style="background-color: antiquewhite; min-width: 1366px; min-height: 768px;
     align-content: center; position: relative; margin: 0 auto;">

    <br> <br>
    <form action="#" th:action="@{/logout}"  method="get">
        <input class="close-btn" type="submit" value="Application Logout" style="background-color: lightgreen;
             width: 150px; height: 30px; border: solid 4px rgba(0, 0, 0, 0.23); cursor: pointer; border-radius: 10px">
    </form>
    <br>

<!--      <label th:info="${user.getName()}">Current user</label>-->
    <h1>User Manager</h1>

    <form th:action= "@{/userservice/search}" method="get" >
        <input type="text" name="keyword" placeholder="keyword" />
        <input type="submit" value="Search" style="cursor: pointer; background-color: lightgreen; border-radius: 3px"/>
    </form>

    <br><br>

    <a href="new"> <h2>Create New User</h2></a>
    <br><br>
    <table border="2" cellpadding="12" bgcolor="#add8e6">
        <thead>
        <tr bgcolor="#deb887">
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Role</th>
<!--            <th th:switch="${user.куррент автор пользователь}">-->
<!--                <p th:case="'ADMIN'">Operations</p>-->
<!--            </th>-->
        </tr>
        </thead>

        <tbody style="padding-bottom: 50px">
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.firstName}">Firstname</td>
            <td th:text="${user.lastName}">Lastname</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.birthday}">Birthday</td>
            <td th:text="${user.role}">Role</td>

            <th:if ${user.role}=="ADMIN">
                <td>
                    <a th:href="@{'userservice/edit/' + ${user.id}}">Edit</a>
                    <a th:href="@{'userservice/delete/' + ${user.id}}">Delete</a>
                </td>
            </th:if>

        </tr>
        </tbody>


    </table>
    <br><br>
</div>


</body>
</html>